<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/Enigma-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>

	<targets>
		<target xsi:type="ColoredConsole" name="consoleTarget"
		   useDefaultRowHighlightingRules="true"
		   layout="${newline}${uppercase:${level}}|${longdate}|${logger}|${newline}${message}|${exception:format=tostring}"  />

		<target xsi:type="File" name="fileTarget" fileName="${basedir}/logs/Enigma-${shortdate}.log" maxArchiveFiles="30"
				layout="${newline}${uppercase:${level}}|${longdate}|${logger}|${newline}${message}|${exception:format=tostring}"  />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="fileTarget" enabled="true" />
		<logger name="*" minlevel="Trace" writeTo="consoleTarget" enabled="true" />
	</rules>
</nlog>